@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  background-color: #0077cc;
  margin: 0;
}

nav li {
  margin: 0;
  padding: 10px 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

.login-container, .home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* App.css */
button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.2);
}

button:active {
  transform: scale(1);
}

.profile-card {
  transition: transform 0.3s ease-in-out;
}

.profile-card:hover {
  transform: scale(1.05);
}

